html {
    height:100%; 
}

body {
    height:100%;
    margin: 0px;
    padding: 0px;
}

#map_canvas {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgb(229, 227, 223);
    font: 400 11px Arial, sans-serif;
}

table.colorful {
        font-family: verdana, arial, sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #999999;
        border-collapse: collapse;
}
